/* Page layout styles */

header {
    background-color: #bab6b6;
    color: #8e8a8a;
    padding: 10px;
    box-shadow:hsla(300, 80%, 30%, 30)
}

h1 {
    text-align: center;
    font-size: 48px
}

nav {
    display: flex;
    justify-content: space-between;
}

main {
    padding: 20px;
}

footer {
    background-color: #bab6b6;
    color: #8e8a8a;
    padding: 10px;
}

/* Navigation styles */

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #e2dcdc;
    text-decoration: none;
}

.leftNav {
    margin-right: auto;
}
header ul(li) {
    text-align: right;

}

/* Move the "Logout", "Login", and "Sign Up" links to the far right */
.rightNav {
    text-align: right;
}

/* Table styles */

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    font-weight: bold;
}

th {
    background-color: #bab6b6;
    color: #ffffff;
}

.tableTop:shadow {
    border-bottom: 2px solid #292828;
    border-bottom: hsla(300, 80%, 30%, 30);
    box-shadow:hsla(300, 80%, 30%, 30)
}

.tableBottom tr:nth-child(even) {
    background-color: #f2f2f2;
}


nav ul li a:visited  {
    color: rgb(42, 1, 73);
    font-size: 16px;
    font-weight: bold;
    color: hsl(80%. 60%, 50%, 20);
}

nav ul li a:active  {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

nav ul li a:hover  {
    color: rgb(3, 42, 237);
    font-size: 16px;
    font-weight: bold;
}


a ul:visited  {
    color: rgb(42, 1, 73);
    font-size: 16px;
    font-weight: bold;
    color: hsl(80%. 60%, 50%, 20);
}

a ul:active  {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

a ul:hover  {
    color: rgb(3, 42, 237);
    font-size: 16px;
    font-weight: bold;
a ul {
    width: auto;
    float: right;
    margin: 5px;
}