{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>
        {% block title %}
        My Receipts
        {% endblock %}
    </title>

</head>
<body>
    <header>

        {% block header %}
        {% if user.is_authenticated %}
            <ul>
                <li><a href="{% url 'home' %}">My Receipts</a></li>
                <li><a href="{% url 'account_list' %}">Account List</a></li>
                <li><a href="{% url 'category_list' %}">Expense Category List</a></li>
                <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
                <ul><a href="{% url 'logout' %}">Logout</a></ul>
            </ul>
        {% else %}
            <ul>
                <ol><a href="{% url 'signup' %}">Sign Up</a></ol>
                <ol><a href="{% url 'login' %}">Login</a></ol>      
            </ul>
        {% endif %}
        {% endblock %}
    
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
