{% extends "base.html" %}

{% block content %}
    <h1>Create Category</h1>
    <div>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
    <button type="submit">Create</button>
    </form>
    </div>
{% endblock %}