{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Create Receipt</title>
</head>
<body>
    <main>
        <h1>Create Receipt</h1>
        <div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
        <button type="submit">Create</button>
        </form>
        </div>
    </main>
</body>
</html>